<div id="watch-list" class="wrapper" *ngIf="!edit">
  <div id="scroller-watch-list" class="scroller">
  <div *ngFor="let driver of watchList">
    <div class="item-container watch-list">
      <div class="car-number watch-list">
      </div>
      <div class="driver-name watch-list">
        <span>{{driver.name}}</span>
      </div>
      <div class="color-marker" [ngClass]="driver.marker">
      </div>
    </div>
  </div>
</div>
</div>

<div *ngIf="edit" class="edit watch-list wrapper">
  <div class="scroller">
    <div class="drivers" *ngFor="let driver of watchList">
      <div (click)="toggle(driver)" [ngClass]="{selected: selectedItems.includes(driver)}" class="item-container settings">
        <div class="car-number settings">
        </div>
        <div class="driver-name settings">
          <span>{{driver.name}}</span>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="bottom bottom-10" >
      <div class="button settings" [ngClass]="{disabled: maxItems()}" (click)="copy(item)">
        <span class="button-text">Duplicate</span>
      </div>
      <div class="button settings" [ngClass]="{disabled: selectedItems.length === 0}" (click)="update()">
        <span class="button-text">Save</span>
      </div>
    </div>
  </div>
</div>
