<div class="wrapper" *ngIf="!item.edit">
  <div class="scroller">
  <div *ngFor="let driver of watchList">
    <div class="item-container watch-list">
      <div class="car-number watch-list">
      </div>
      <div class="driver-name watch-list">
        <span>{{driver.name}}</span>
      </div>
      <div class="color-marker" [ngClass]="driver.marker">
      </div>
    </div>
  </div>
</div>
</div>

<app-settings *ngIf="item.edit" [item]="item" [size]="size" [gridItems]="gridItems"></app-settings>
