<div *ngIf="!item.edit" class="wrapper">
  <div class="scroller">
    <table>
      <tr>
        <th>Pos.</th>
        <th>Driver</th>
      </tr>
      <tr *ngFor="let driver of leaderBoard">
        <td [ngClass]="{'gray': (driver.pos % 2) === 0}"
            class="position {{driver.marker}}">{{driver.pos}}</td>
        <td [ngClass]="{'gray': (driver.pos % 2) === 0}"
            class="driver {{driver.marker}}">{{driver.carNumber}}&nbsp;&nbsp;{{driver.driverName}}</td>
      </tr>
    </table>
  </div>
</div>

<app-settings *ngIf="item.edit" [item]="item" [size]="size" [gridItems]="gridItems"></app-settings>
