<div *ngIf="!item.edit" class="scoller-wrapper">
  <div class="item-container wrapper">
    <div class="shadow scroller">
      <table>
        <thead class="table-head">
          <tr class="table-row">
            <td *ngFor="let title of carSummary">{{title}}</td>
          </tr>
        </thead>
        <tbody class="table-body">
          <tr class="table-row" *ngFor="let num of [1,2,3,4,5,6,7,8,9,10]">
            <td class="table-cell" *ngFor="let data of carSummary">{{data}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-settings *ngIf="item.edit" [item]="item" [size]="size" [gridItems]="gridItems"></app-settings>
